{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}


{% block body %}

	{# {% include "components/_search_data.html.twig" with {form: form} only %} #}

	<header>
		<div class="ms-5" style="width: 1800px;">
			<img src="images/gallery/arbre.jpg" class="img-fluid mb-5" alt="">
		</div>
	</header>
	<main>

		<section class="container text-center mt-5 py-5">
			<div class="row gy-5 mt-5 pb-5 me-5">
				{% if categorie is not null %}
					{% for hobby in categorie.hobbies %}

						<div class="col-6 me-auto" style="width: 40%;">
							<a href="{{path('app_pays_show', {id:hobby.pays.id}) }}"><img width="450" src="{{ asset("images/" ~ hobby.photo ) }}" alt="{{ hobby.pays.nom }}"></a>
						</div>
						<div class="col-6">
							<div class="p-3 border border-primary border-3 bg-transparent ms-5 mt-5 px-5">
								<a href="{{path('app_pays_show', {id:hobby.pays.id}) }}">
									<h1 class="titre_home fst-italic fw-bolder" style="color: #0b2764">{{ hobby.pays.nom}}</h1>
									<p class="text-light">{{ hobby.pays.description}}</p>
								</a>
							</div>
						</div>
					{% endfor %}
				{% else %}
					pas de resultat
				{% endif %}
			</div>

		</div>
	</section>
	<section class="dark">
		<div class="container py-4">
			<h1 class="h1 text-center" id="pageHeaderTitle">Les dernières annonces</h1>
			{% for annonce in annonces %}
				<div class="card" style="width: 20rem;">
					<div class="img-fluid shadow-2-strong mb-4 image_annonce1">
						<div class="card-body">
							<h5 class="card-title">
								{{ annonce.title| raw }}</h5>

							<p class="card-text">{{ annonce.content|u.truncate(1125) | raw }}</p>
							<a href="{{ path('app_annonces_index')}}#annonce-{{annonce.id}}" class="text-primary">Continue reading
							</a>
						</div>
					</div>
				</div>
			{% else %}
				pas de resultat
			{% endfor %}
		</div>
	</div>
</section></main><article class="postcard dark blue">
<a class="postcard__img_link" href="#">
	<img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title"/>
</a>
<div class="postcard__text">
	<h1 class="postcard__title blue">
		<a href="#">Podcast Title</a>
	</h1>
	<div class="postcard__subtitle small">
		<time datetime="2020-05-25 12:00:00">
			<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
		</time>
	</div>
	<div class="postcard__bar"></div>
	<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
	<ul class="postcard__tagbox">
		<li class="tag__item">
			<i class="fas fa-tag mr-2"></i>Podcast</li>
		<li class="tag__item">
			<i class="fas fa-clock mr-2"></i>55 mins.</li>
		<li class="tag__item play blue">
			<a href="#">
				<i class="fas fa-play mr-2"></i>Play Episode</a>
		</li>
	</ul>
</div></article><article class="postcard dark red">
<a class="postcard__img_link" href="#">
	<img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title"/>
</a>
<div class="postcard__text">
	<h1 class="postcard__title red">
		<a href="#">Podcast Title</a>
	</h1>
	<div class="postcard__subtitle small">
		<time datetime="2020-05-25 12:00:00">
			<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
		</time>
	</div>
	<div class="postcard__bar"></div>
	<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
	<ul class="postcard__tagbox">
		<li class="tag__item">
			<i class="fas fa-tag mr-2"></i>Podcast</li>
		<li class="tag__item">
			<i class="fas fa-clock mr-2"></i>55 mins.</li>
		<li class="tag__item play red">
			<a href="#">
				<i class="fas fa-play mr-2"></i>Play Episode</a>
		</li>
	</ul>
</div></article><article class="postcard dark green">
<a class="postcard__img_link" href="#">
	<img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title"/>
</a>
<div class="postcard__text">
	<h1 class="postcard__title green">
		<a href="#">Podcast Title</a>
	</h1>
	<div class="postcard__subtitle small">
		<time datetime="2020-05-25 12:00:00">
			<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
		</time>
	</div>
	<div class="postcard__bar"></div>
	<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
	<ul class="postcard__tagbox">
		<li class="tag__item">
			<i class="fas fa-tag mr-2"></i>Podcast</li>
		<li class="tag__item">
			<i class="fas fa-clock mr-2"></i>55 mins.</li>
		<li class="tag__item play green">
			<a href="#">
				<i class="fas fa-play mr-2"></i>Play Episode</a>
		</li>
	</ul>
</div></article><article class="postcard dark yellow">
<a class="postcard__img_link" href="#">
	<img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title"/>
</a>
<div class="postcard__text">
	<h1 class="postcard__title yellow">
		<a href="#">Podcast Title</a>
	</h1>
	<div class="postcard__subtitle small">
		<time datetime="2020-05-25 12:00:00">
			<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
		</time>
	</div>
	<div class="postcard__bar"></div>
	<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
	<ul class="postcard__tagbox">
		<li class="tag__item">
			<i class="fas fa-tag mr-2"></i>Podcast</li>
		<li class="tag__item">
			<i class="fas fa-clock mr-2"></i>55 mins.</li>
		<li class="tag__item play yellow">
			<a href="#">
				<i class="fas fa-play mr-2"></i>Play Episode</a>
		</li>
	</ul>
</div></article></div></section><section class="light"><div class="container py-2"><div class="h1 text-center text-dark" id="pageHeaderTitle">My Cards Light</div><article class="postcard light blue">
<a class="postcard__img_link" href="#">
	<img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title"/>
</a>
<div class="postcard__text t-dark">
	<h1 class="postcard__title blue">
		<a href="#">Podcast Title</a>
	</h1>
	<div class="postcard__subtitle small">
		<time datetime="2020-05-25 12:00:00">
			<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
		</time>
	</div>
	<div class="postcard__bar"></div>
	<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
	<ul class="postcard__tagbox">
		<li class="tag__item">
			<i class="fas fa-tag mr-2"></i>Podcast</li>
		<li class="tag__item">
			<i class="fas fa-clock mr-2"></i>55 mins.</li>
		<li class="tag__item play blue">
			<a href="#">
				<i class="fas fa-play mr-2"></i>Play Episode</a>
		</li>
	</ul>
</div></article><article class="postcard light red">
<a class="postcard__img_link" href="#">
	<img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title"/>
</a>
<div class="postcard__text t-dark">
	<h1 class="postcard__title red">
		<a href="#">Podcast Title</a>
	</h1>
	<div class="postcard__subtitle small">
		<time datetime="2020-05-25 12:00:00">
			<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
		</time>
	</div>
	<div class="postcard__bar"></div>
	<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
	<ul class="postcard__tagbox">
		<li class="tag__item">
			<i class="fas fa-tag mr-2"></i>Podcast</li>
		<li class="tag__item">
			<i class="fas fa-clock mr-2"></i>55 mins.</li>
		<li class="tag__item play red">
			<a href="#">
				<i class="fas fa-play mr-2"></i>Play Episode</a>
		</li>
	</ul>
</div></article><article class="postcard light green">
<a class="postcard__img_link" href="#">
	<img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title"/>
</a>
<div class="postcard__text t-dark">
	<h1 class="postcard__title green">
		<a href="#">Podcast Title</a>
	</h1>
	<div class="postcard__subtitle small">
		<time datetime="2020-05-25 12:00:00">
			<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
		</time>
	</div>
	<div class="postcard__bar"></div>
	<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
	<ul class="postcard__tagbox">
		<li class="tag__item">
			<i class="fas fa-tag mr-2"></i>Podcast</li>
		<li class="tag__item">
			<i class="fas fa-clock mr-2"></i>55 mins.</li>
		<li class="tag__item play green">
			<a href="#">
				<i class="fas fa-play mr-2"></i>Play Episode</a>
		</li>
	</ul>
</div></article><article class="postcard light yellow">
<a class="postcard__img_link" href="#">
	<img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title"/>
</a>
<div class="postcard__text t-dark">
	<h1 class="postcard__title yellow">
		<a href="#">Podcast Title</a>
	</h1>
	<div class="postcard__subtitle small">
		<time datetime="2020-05-25 12:00:00">
			<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
		</time>
	</div>
	<div class="postcard__bar"></div>
	<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
	<ul class="postcard__tagbox">
		<li class="tag__item">
			<i class="fas fa-tag mr-2"></i>Podcast</li>
		<li class="tag__item">
			<i class="fas fa-clock mr-2"></i>55 mins.</li>
		<li class="tag__item play yellow">
			<a href="#">
				<i class="fas fa-play mr-2"></i>Play Episode</a>
		</li>
	</ul>
</div></article></div></section>{% endblock %}
