{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}


{% block body %}

	{# {% include "components/_search_data.html.twig" with {form: form} only %} #}

	<header>
		<div class="ms-5" style="width: 1800px;">
			<img src="images/gallery/arbre.jpg" class="img-fluid mb-5" alt="">
		</div>
	</header>
	<main>

		<section class="container text-center mt-4 py-5" style="margin-right: 300px">
			<div class="row gy-5 mt-5 pb-5 me-5">
				{% if categorie is not null %}
					{% for hobby in categorie.hobbies %}

						<div class="col-6 me-auto" style="width: 40%;">
							<a href="{{path('app_pays_show', {id:hobby.pays.id}) }}"><img width="450" src="{{ asset("images/" ~ hobby.photo ) }}" alt="{{ hobby.pays.nom }}"></a>
						</div>
						<div class="col-6">
							<div class="p-3 border-bleu border-3 bg-transparent ms-5 mt-5 px-5">
								<a href="{{path('app_pays_show', {id:hobby.pays.id}) }}">
									<h1 class="titre_home fst-italic fw-bolder" style="color: #0b2764">{{ hobby.pays.nom}}</h1>
									<p class="text-light">{{ hobby.pays.description}}</p>
								</a>
							</div>
						</div>
					{% endfor %}
				{% else %}
					pas de resultat
				{% endif %}
			</div>
		</section>

		<section class="dark border border-white mb-5">
			<div class="container py-4">
				<h1 class="h1 text-center mt-5 mb-5" id="pageHeaderTitle">Les annonces du site
				</h1>
				<div class="row justify-content-evenly my-5 mx-5">
					{% for annonce in annonces %}
						<div class="card h-100 mb-5" style="width: 34rem;">
							<div class="flex-row">
								<div class="img-fluid bg-light p-3 image_annonce1">
									<div class="card-body">
										<h5 class="card-title-annonces">
											{{ annonce.title| raw }}</h5>

										<p class="card-text">
											{{ annonce.content|u.truncate(968, ' ...') | raw }}</p>
										<a href="{{ path('app_annonces_index')}}#annonce-{{annonce.id}}" class="text-primary">Continue reading
										</a>
									</div>
								</div>
							</div>
						</div>
					{% else %}
						pas de resultat
					{% endfor %}
				</div>
			</div>
		</section>

		<section
			class="container text-center mt-5 py-5" style="margin-right: 247px">

			<!--Section heading-->
			<h2 class="h1-responsive font-weight-bold text-center my-4 contact-form">Contact us</h2>
			<!--Section description-->
			<p class="text-center w-responsive me-5 mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within a matter of hours to help you.</p>

			<div
				class="row">

				<!--Grid column-->
				<div class="col-md-9 mb-md-0 mb-5">

					{{ form_start(formulaire) }}

					{{ form_row(formulaire.name,  {
									label: ' '
								}) }}
					{{ form_row(formulaire.email,  {
									label: ' '
								}) }}
					{{ form_row(formulaire.content, {
            label: ' '
        }) }}
					{# <button class="rounded-pill border border-primary border border-3 mt-5" type="submit" class="btn">Register</button> #}
					{{ form_end(formulaire) }}

					<div class="status"></div>
				</div>
				<!--Grid column-->

				<!--Grid column-->
				<div class="col-md-3 text-center">
					<ul class="list-unstyled mb-0">
						<li>
							<i class="fas fa-map-marker-alt fa-2x"></i>
							<p>〒106-8514 東京都, 港区,南麻布,</p>
							<p>4-11-44, JAPON</p>
						</li>
					</li>

					<li>
						<i class="fas fa-phone mt-4 fa-2x"></i>
						<p>+ 81 23 45 67 89</p>
					</li>

					<li>
						<i class="fas fa-envelope mt-4 fa-2x"></i>
						<p>myaddress@yahoo.fr</p>
					</li>
				</ul>
			</div>
			<!--Grid column-->

		</div>

	</section>
</main>{% endblock %}
