{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}


{% block body %}

	{# {% include "components/_search_data.html.twig" with {form: form} only %} #}

	<header>
		<div class="ms-5" style="width: 1800px;">
			<img src="images/gallery/arbre.jpg" class="img-fluid mb-5" alt="">
		</div>
	</header>
	<main>

		<section class="container text-center mt-4 py-5">
			<div class="row gy-5 mt-5 pb-5 me-5">
				{% if categorie is not null %}
					{% for hobby in categorie.hobbies %}

						<div class="col-6 me-auto" style="width: 40%;">
							<a href="{{path('app_pays_show', {id:hobby.pays.id}) }}"><img width="450" src="{{ asset("images/" ~ hobby.photo ) }}" alt="{{ hobby.pays.nom }}"></a>
						</div>
						<div class="col-6">
							<div class="p-3 border border-primary border-3 bg-transparent ms-5 mt-5 px-5">
								<a href="{{path('app_pays_show', {id:hobby.pays.id}) }}">
									<h1 class="titre_home fst-italic fw-bolder" style="color: #0b2764">{{ hobby.pays.nom}}</h1>
									<p class="text-light">{{ hobby.pays.description}}</p>
								</a>
							</div>
						</div>
					{% endfor %}
				{% else %}
					pas de resultat
				{% endif %}
			</div>
		</section>

		<section class="dark">
			<div class="container py-4">
				<h1 class="h1 text-center mt-5 mb-5" id="pageHeaderTitle">Les dernières annonces</h1>
				<div class="row justify-content-evenly my-5 mx-5">
					{% for annonce in annonces %}
						<div class="card h-100 mb-5" style="width: 34rem;">
							<div class="flex-row">
								<div class="img-fluid bg-light p-3 image_annonce1">
									<div class="card-body">
										<h5 class="card-title-annonces">
											{{ annonce.title| raw }}</h5>

										<p class="card-text">
											{{ annonce.content|u.truncate(979) | raw }}</p>
										<a href="{{ path('app_annonces_index')}}#annonce-{{annonce.id}}" class="text-primary">Continue reading
										</a>
									</div>
								</div>
							</div>
						</div>
					{% else %}
						pas de resultat
					{% endfor %}
				</div>
			</div>
		</section>

	</main>


{% endblock %}
