<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

	<link rel="stylesheet" href="./app.scss">

	{% block stylesheets %}

		{{ encore_entry_link_tags('app') }}

	{% endblock %}
	{# <link rel="stylesheet" href="{{ asset('css/styles.css') }}"> #}
</html></head><body class="layout with-sidenav">
<header>
	{% block nav %}
		{% include 'nav.html.twig' %}
	{% endblock %}
</header>

<!--Main Navigation-->
<header>
	<!-- Sidebar -->
	<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-dark">

		{% if app.user %}
			<div class="user d-flex flex-row align-items-center ms-5"><img src="{{ asset(image_path ~ app.user.avatar)}}" width="60" height="60" class="user-img rounded-circle ms-2 mr-2 mt-3 mb-3">
				<div class="d-flex justify-content-end fw-bold text-light  mb-1 ms-3">{{ app.user.username }}
				</div>
			</div>
		{% endif %}
		<div class="position-sticky">
			<div class="list-group list-group-flush mx-3 mt-4">
				<a href="{{ path('admin_home') }}" class="list-group-item list-group-item-action py-2 ripple bg-dark text-light active" aria-current="true">
					<i class="fas fa-tachometer-alt fa-fw me-3"></i>
					<span>Main dashboard</span>
				</a>
				<a href="{{ path('admin_user_index') }}" class="list-group-item list-group-item-action py-2 ripple bg-dark text-light">
					<i class="fas fa-users fa-fw me-3"></i>
					<span>Utilisateurs</span>
				</a>
				<a href="{{ path('admin_commentaire_index') }}" class="list-group-item list-group-item-action py-2 ripple bg-dark text-light">
					<i class="fas fa-comments fa-fw me-3"></i>
					<span>Commentaires</span>
				</a>
				<a href="{{ path('admin_articles_index') }}" class="list-group-item list-group-item-action py-2 ripple bg-dark text-light">
					<i class="bi bi-archive fa-fw me-3"></i>
					<span>Articles</span>
				</a>
				<a href="{{ path('admin_pays_index') }}" class="list-group-item list-group-item-action py-2 ripple bg-dark text-light">
					<i class="bi bi-globe fa-fw me-3"></i>
					<span>Pays</span>
				</a>
				<a href="{{ path('admin_categorie_index') }}" class="list-group-item list-group-item-action py-2 ripple bg-dark text-light">
					<i class="fas fa-chart-bar fa-fw me-3"></i>
					<span>Catégories</span>
				</a>
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{path('app_logout') }}" class="list-group-item list-group-item-action py-2 ripple bg-dark text-light">
						<i class="fa fa-sign-out fa-fw me-3"></i>
						<span>Déconnexion</span>
					</a>
				{% endif %}
			</div>
		</div>


	</nav>
	<!-- Sidebar -->
</header>
<!--Main Navigation-->

<main>
	<!-- Code here the main content -->

	{% block body %}{% endblock %}
</main>

{% block javascripts %}{% endblock %}</body>
