{% extends 'base.html.twig' %}

{% block title %}Pays{% endblock %}

{% block body %}
   

<div class="card mb-3 bg-transparent text-center mx-auto" style="max-width: 70rem;">
  <img src="{{ asset("images/" ~ pay.paysage ) }}" alt="{{ pay.nom }}">
</div>
<div class="card mx-auto bg-transparent mb-5 pb-5 pt-3" style="max-width: 70rem;">
  <div class="row g-0">
    <div class="col-md-6 mx-auto mt-5" style="max-width: 9rem;">
      <img src="{{ asset("images/" ~ pay.drapeau ) }}" class="img-fluid rounded-start"  alt="{{ pay.nom }}">
    </div>
    <div class="col-md-6 mt-4">
      <div class="card-body bg-transparent">
        <h1 class="card-title fw-bolder fst-italic text-decoration-underline mb-3">{{ pay.nom }}</h1>
        <li class="list-group-item"><strong class="pays-infos">Nombre de population :</strong> {{ pay.population }} Millions d'habitants</li>
        <li class="list-group-item">
        <strong class="pays-infos">Superficie du pays :</strong> {{ pay.superficie }} Km²
        </li>
        <li class="list-group-item">
        <strong class="pays-infos">Langues :</strong> {{ pay.langues }} 
      </li>
      </div>
    </div>
    <p class="lh-base text-center mt-5">{{ pay.description }}</p>
  </div>
</div>    


<main>
  <div
    class="card-deck"
    style="position: relative"
  >
    <div
      class="flex-row">
    <div class="d-flex justify-content-evenly row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-5 g-3">
        {% for hobby in pay.hobbies %} 
        {% if hobby.categorie.categorie != "home" %}
        <div class="card h-80 shadow-sm text-dark bg-light mb-3 rgb" data-tilt data-tilt-scale="0.8">
        <img class="image" src="{{ asset("images/" ~ hobby.photo) }}" alt="{{ hobby.loisir }}">
          <div class="card-body">
            <h5 class="card-title text-center fs-2 mb-3">
            {{ hobby.categorie }}
            </h5>
            <p class="card-text text-center">
              {{ hobby.categorie.description }}
            </p>
            <div class="lien text-center mt-5 mb-3">
              <a href="{{ path('app_categorie_infos', {'pays': pay.id, 'id': hobby.categorie.id}) }}" class="btn btn-warning fs-5 text-secondary">See more ⇨</a>
            </div>
          </div>
        </div>
     
      
      {% endif %}
    {% endfor %}
  </div>
    </div>
  </div>
</main>


<section style="background-color: #000;">
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="card">
          <div class="card-body-1 ms-4 mt-2">
            <div class="d-flex flex-start align-items-center">
              
            <img class="rounded-circle shadow-1-strong me-3"
                src="{{ asset(image_path ~ app.user.avatar)}}" alt="avatar" width="60"
                height="60" />
              <div>
                <h5 class="fw-bold text-success mb-1">{{ pay.nom }}</5>
                <h6 class="fw-bold text-primary mb-1">{{ app.user.username }}</h6>
                <p class="text-muted small mb-0">
                  Shared publicly - Dec 2022
                </p>
              </div>
            </div>
            <p class="mt-3 mb-4 pb-2 text-dark" id="comment">
            </p>
            <div class="small d-flex justify-content-start">
              <a href="#" class="d-flex align-items-center me-3">
                <i class="far fa-thumbs-up me-2"></i>
                <p class="mb-0">Like</p>
              </a>
              <a href="#" class="d-flex align-items-center me-3">
            <i class="far fa-thumbs-down me-2"></i>
            <p class="mb-0">Dislike</p>
            </a>
              <a href="{{ path("app_commentaire_new") }}" class="d-flex align-items-center me-3">
                <i class="far fa-comment-dots me-2"></i>
                <p class="mb-0">Comment</p>
              </a>
              <a href="#!" class="d-flex align-items-center me-3">
                <i class="fas fa-share me-2"></i>
                <p class="mb-0">Share</p>
              </a>
            </div>
          </div>

          
          <form id="form-{{pay.id}}">
          {{ form_start(form) }}
            <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
              <div class="d-flex flex-start w-100">
                {% if app.user %}
                  <img class="rounded-circle shadow-1-strong me-3" src="{{ asset(image_path ~ app.user.avatar)}}" alt="avatar" width="40" height="40" />
                {% else %}
                  <img class="rounded-circle shadow-1-strong me-3"
                    src="{{ asset(image_path ~ app.user.avatar)}}" alt="avatar" width="40"
                    height="40" /> 
                {% endif %}
                <div class="form-outline w-100">
                  {{ form_widget(form) }}
                </div>
              </div>
              {% if app.user %} 
              <div class="float-end mt-2 pt-1">
                <button  class="btn btn-primary btn-sm">{{ button_label|default('Post Comment') }}</button>

              </div>
              {% else %}
                  <p class="alert alert-danger">
                    Connectez-vous et laissez un commentaire
                  </p>
              {% endif %}
            </div>
          {{ form_end(form) }}
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
  

    

 <script>
window.addEventListener("load", () => {
  $("#form-{{pay.id}}").on("submit", (evtSubmit) => {
    evtSubmit.preventDefault();
    console.log($("#form-{{pay.id}} [name='message']").val());
    $.ajax({
      url: "{{ path('app_commentaire_ajouter', {id: pay.id}) }}",
      method: "POST",
      data: "msg=" + $("#form-{{pay.id}} [name='commentaire[message]']").val(),
      dataType: "json",
      success: (data) => {
        $("#comment").html(data);
        console.log("Data = " + data);
      },
      error: (jqXHR, status, error) => {
        console.log("ERREUR AJAX", status, error);
      },
    });
  });
  });
 </script>
 
 {% for leCommentaire in pay.commentaires  |sort((a, b) => a.id <=> b.id)|reverse %}
 <div class="container ">
     <div class="row  d-flex justify-content-center">
       <div class="col-md-8">
           <div class="headings d-flex justify-content-between align-items-center mb-3">
             <div class="buttons">
                 {# <span class="badge bg-white d-flex flex-row align-items-center">
                     {# <span class="text-primary">Comments "ON"</span> #}
                     {# <div class="form-check form-switch">
                       <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>  
                     </div> #}
                 {# </span> #} 
             </div>
         </div>

         <div class="card mb-3">
             <div class="d-flex justify-content-between align-items-center">
               <div class="user d-flex flex-row align-items-center">
                 <img src="{{ asset(image_path ~ leCommentaire.user.avatar)}}" width="30" class="user-img rounded-circle ms-2 mr-2">
             <span><small class="fw-bold text-primary mb-1 ms-3">{{ leCommentaire.user.username }}</small> 
             <p class="font-weight-bold text-dark mb-1 ms-3">{{ leCommentaire.message }}</p>
           </div>

           <small>2 days ago</small>
            {# {% if leCommentaire.likes is not empty %}
              <a href="#"class="d-flex align-items-center me-3">
            <i class="far fa-thumbs-up me-2"></i>
            <p class="mb-0">Like</p>
          </a>
            {{leCommentaire.likes}} like(s)
            {% else %}
              0 like
            {% endif %} #}
            {{ include('pays/_delete_form.html.twig') }}
           </div>  
           
         </div> 
                 
       </div>
       
     </div>
     
</div>
{% else %}
<tr>
 <td colspan="3">no records found</td>
</tr>
{% endfor %}

{# <a href="{{ path('app_pays_index') }}">back to list</a>
<a href="{{ path('app_pays_edit', {'id': pay.id}) }}">edit</a> #}
<div class="position-relative">
<a href="#" class=" btn btn-primary position-absolute bottom-0 end-0 me-5 mb-5">Go Up ⇧</a>
</div>


{% endblock %}

