{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<main>
		<section class="header_pays">
			<div class="card mb-3 bg-transparent text-center mx-auto" style="max-width: 70rem;">
				<img src="{{ asset("images/" ~ pay.paysage ) }}" alt="{{ pay.nom }}">
			</div>
			<div class="card mx-auto bg-transparent mb-5 pb-5 pt-3" style="max-width: 70rem;">
				<div class="row g-0">
					<div class="col-md-6 mx-auto mt-5" style="max-width: 9rem;">
						<img src="{{ asset("images/" ~ pay.drapeau ) }}" class="img-fluid rounded-start" alt="{{ pay.nom }}">
					</div>
					<div class="col-md-6 mt-4">
						<div class="card-body bg-transparent">
							<h1 class="card-title fw-bolder fst-italic mb-3 text-center">{{ pay.nom }}</h1>
							<li class="list-group-item">
								<strong class="pays-infos">Nombre de population :</strong>
								{{ pay.population }}
								Millions d'habitants</li>
							<li class="list-group-item">
								<strong class="pays-infos">Superficie du pays :</strong>
								{{ pay.superficie }}
								Km²
							</li>
							<li class="list-group-item">
								<strong class="pays-infos">Langues :</strong>
								{{ pay.langues }}
							</li>
						</div>
					</div>
					<p class="lh-base text-center mt-5">{{ pay.description }}</p>
				</div>
			</div>
		</section>

		<section class="partie_cards">
			<div class="card-deck" style="position: relative">
				<div class="flex-row">
					<div class="d-flex justify-content-evenly row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-5 g-3">
						{% for hobby in pay.hobbies %}
							{% if hobby.categorie.categorie != "home" %}
								<div class="card h-80 shadow-sm text-dark bg-light mb-3 rgb" data-tilt data-tilt-scale="0.8">
									<img class="image" src="{{ asset("images/" ~ hobby.photo) }}" alt="{{ hobby.loisir }}">
									<div class="card-body">
										<h5 class="card-title text-center fs-2 mb-3">
											{{ hobby.categorie }}
										</h5>
										<p class="card-text text-center">
											{{ hobby.categorie.description }}
										</p>
										<div class="lien text-center mt-5 mb-3">
											<a href="{{ path('app_categorie_infos', {'pays': pay.id, 'id': hobby.categorie.id}) }}" class="btn btn-warning fs-5 text-secondary">See more ⇨</a>
										</div>
									</div>
								</div>


							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</section>

		<section class="text_coms">
			<img class="arabesque_haut" src="{{ asset(image_path ~ 'arabesque.png' )}}" alt="">
			<h1 class="title_com text-center text-uppercase">
				If you're fancy it, you can leave your message here
			</h1>
			<img class="arabesque" src="{{ asset(image_path ~ 'arabesque.png' )}}" alt="">
		</section>

		<section class"partie_coms">
			<div class="container my-5 mb-5">
				<div class="row d-flex justify-content-center">
					<div class="col-md-12 col-lg-10 col-xl-8">
						<div class="card border-warning border border-5">
							<div class="card-body-1 ms-4 mt-2">
								<h5 class="fw-bold text-uppercase text-success text-center mt-3 mb-1">{{ pay.nom }}
								</h5>
								{% if app.user %}
									<div class="d-flex flex-start align-items-center">
										<img class="rounded-circle shadow-1-strong me-3 mb-4" src="{{ asset(image_path ~ app.user.avatar)}}" alt="avatar" width="80" height="80"/>
										<div>
											<h6 class="fw-bold text-primary mb-1">{{ app.user.username }}</h6>
											<p class="text-muted small mb-3">
												Shared publicly - Dec 2022
											</p>
										</div>
									</div>
								{% else %}
									<div>
										<img class="rounded-circle shadow-1-strong me-3 mb-3" src="{{ asset(image_path ~ 'avartarN.jpeg' )}}" alt="avatar" width="80" height="80"/>
									</div>
									<div class="fw-bold text-italic text-primary" style="margin-bottom: 14px;">
										Username
									</div>
								{% endif %}
								<form "form" id="form-{{pay.id}}">
									{{ form_start(formCommentaire) }}
									<div class="card-footer-fond py-2 border-0 ms-3 me-3" style="background-color: #f8f9fa; color:#000">
										<div class="d-flex flex-start w-100">
											<div class="form-outline w-100">
												{{ form_widget(formCommentaire) }}
											</div>
										</div>
										{% if app.user %}
											<div class="float-end mt-4 pt-1 mb-4">
												<button class="btn btn-primary btn-sm">{{ button_label|default('Post Comment') }}</button>
												<button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
											</div>
										{% else %}
											<p class="alert alert-warning text-center">
												Connectez-vous et laissez votre commentaire
											</p>
											<div class="float-end mt-4 pt-1 mb-4">
												<a href="{{ path('app_login') }}" class="btn btn-primary btn-sm">Se connecter
												</a>
											</div>
										{% endif %}
									</div>
									{{ form_end(formCommentaire) }}
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="gradient-custom1 py-5">
			<div class="row d-flex justify-content-center">
				<div class="col-md-12 col-lg-10 col-xl-8">
					<div class="card mb-5">
						<div class="card-body p4">
							<div class="row">
								<div class="col">
									<div class="mb-3 d-none" id="card-comment">
										<div class="card mb-4 rounded-4">
											<div class="d-flex">
												<div class="user d-flex flex-row align-items-center">
													<img src="/images/OIP-3_63d10b8b01e96.jpg" width="80" class="user-img rounded-circle ms-2 mr-2 mt-3 mb-3">


													<div class="d-flex justify-content-end fw-bold text-primary  mb-1 ms-3">Gojo
													</div>
												</div>
											</div>
											<div class="d-flex justify-content-center">
												<a href="javascrip:void(0)" class="d-flex align-items-center ms-5 mb-3">
													<i class=" far  fa-thumbs-up me-2"></i>
													<p class="mb-0">Like</p>
												</a>
												<a href="javascrip:void(0)" class="d-flex align-items-center ms-4 mb-3">
													<i class=" far  fa-thumbs-down me-2"></i>
													<p class="mb-0">Dislike</p>
												</a>
											</div>
											<p class="font-weight-bold text-dark ms-4 me-4" id="comment">encore un essai test encore
											</p>

											<div class="small d-flex justify-content-end mt-5 mb-2 me-2">
												<button type="button" class="btn btn-primary me-2 ">Reply</button>
												<form method="post" action="/pays/5" onsubmit="return confirm('Are you sure you want to delete this item?');">
													<input type="hidden" name="_token" value="fbf9a52e681a8e5e.75SUCoJt_HjhcOEkHBx5SV74WFKrLXBTasWYmS3841w.ws6jONZYvw-pJq5AUmoMeivNLj3TeRhlXYPb2H_OqD2uzMxh-ySpINRdkg">
													<button class="btn">Delete</button>
												</form>

											</div>
										</div>
									</div>


									<div class="mb-3">
										{% for leCommentaire in pay.commentaires  |sort((a, b) => a.id <=> b.id)|reverse %}

											<div class="card mb-4 rounded-4">
												<div class="d-flex">
													<div class="user d-flex flex-row align-items-center">
														<img src="{{ asset(image_path ~ leCommentaire.user.avatar)}}" width="80" class="user-img rounded-circle ms-2 mr-2 mt-3 mb-3">


														<div class="d-flex justify-content-end fw-bold text-primary  mb-1 ms-3">{{ leCommentaire.user.username }}
														</div>
													</div>
													{# <small>2 days ago</small> #}
												</div>
												<div class="d-flex justify-content-center">
													<a href="javascrip:void(0)" class="d-flex align-items-center ms-5 mb-3">
														<i class="{% if leCommentaire.rating != 1 %} far {% else %}fa-solid {% endif %} fa-thumbs-up me-2"></i>
														<p class="mb-0">Like</p>
													</a>
													<a href="javascrip:void(0)" class="d-flex align-items-center ms-4 mb-3">
														<i class="{% if leCommentaire.rating != 2 %} far {% else %} fa-solid {% endif %} fa-thumbs-down me-2"></i>
														<p class="mb-0">Dislike</p>
													</a>
												</div>
												<p class="font-weight-bold text-dark ms-4 me-4">{{ leCommentaire.message }}
												</p>

												<div class="small d-flex justify-content-end mt-5 mb-2 me-2">
													<button type="button" class="btn btn-primary me-2 ">Reply</button>
													{{ include('pays/_delete_form.html.twig') }}
												</div>
											</div>


										{% else %}

											<p>no records found</p>

										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</main>

<!--Main Navigation-->

<!--Main layout-->
<main class="mt-4 mb-5">
	<div
		class="container">
		<!--Grid row-->
		<div
			class="row">
			<!--Grid column-->
			<div
				class="col-md-8 mb-4">

				<!--Section: Post data-mdb-->
				<section
					class="border-bottom mb-4">
					{# <div class="img-fluid shadow-2-strong rounded-5 mb-4 round-image">
											{{ annonce.content|raw }}
										</div> #}

					<div class="row align-items-center mb-4">
						<div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
							<img src="https://mdbootstrap.com/img/Photos/Avatars/img (23).jpg" class="rounded-5 shadow-1-strong me-2" height="35" alt="" loading="lazy"/>
							<span>
								Published
								<u>15.07.2020</u>
								by</span>
							<a href="" class="text-dark">Anna</a>
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<button type="button" class="btn btn-primary px-3 me-1" style="background-color: #3b5998;">
								<i class="fab fa-facebook-f"></i>
							</button>
							<button type="button" class="btn btn-primary px-3 me-1" style="background-color: #55acee;">
								<i class="fab fa-twitter"></i>
							</button>
							<button type="button" class="btn btn-primary px-3 me-1" style="background-color: #0082ca;">
								<i class="fab fa-linkedin"></i>
							</button>
							<button type="button" class="btn btn-primary px-3 me-1">
								<i class="fas fa-comments"></i>
							</button>
						</div>
					</div>
				</section>
				<!--Section: Post data-mdb-->

				<!--Section: Text-->
				<section>
					<p>
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio sapiente molestias
																																																																																												              consectetur. Fuga nulla officia error placeat veniam, officiis rerum laboriosam
																																																																																												              ullam molestiae magni velit laborum itaque minima doloribus eligendi! Lorem ipsum,
																																																																																												              dolor sit amet consectetur adipisicing elit. Optio sapiente molestias consectetur.
																																																																																												              Fuga nulla officia error placeat veniam, officiis rerum laboriosam ullam molestiae
																																																																																												              magni velit laborum itaque minima doloribus eligendi!
					</p>

					<p>
						<strong>Optio sapiente molestias consectetur?</strong>
					</p>

					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum architecto ex ab aut
																																																																																												              tempora officia libero praesentium, sint id magnam eius natus unde blanditiis. Autem
																																																																																												              adipisci totam sit consequuntur eligendi.
					</p>

					<p class="note note-light">
						<strong>Note:</strong>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
																																																																																												              Optio odit consequatur porro sequi ab distinctio modi. Rerum cum dolores sint,
																																																																																												              adipisci ad veritatis laborum eaque illum saepe mollitia ut voluptatum.
					</p>

					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, libero repellat
																																																																																												              molestiae aperiam laborum aliquid atque magni nostrum, inventore perspiciatis
																																																																																												              possimus quia incidunt maiores molestias eaque nam commodi! Magnam, labore.
					</p>

					<img src="https://mdbootstrap.com/img/new/slides/041.jpg" class="img-fluid shadow-1-strong rounded-5 mb-4" alt=""/>

					<ul>
						<li>Lorem</li>
						<li>Ipsum</li>
						<li>Dolor</li>
						<li>Sit</li>
						<li>Amet</li>
					</ul>

					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, temporibus nulla
																																																																																												              voluptatibus accusantium sapiente doloremque. Doloribus ratione laboriosam culpa. Ab
																																																																																												              officiis quidem, debitis nostrum in accusantium dolore veritatis eius est?
					</p>
				</section>
				<!--Section: Text-->

				<!--Section: Share buttons-->
				<section class="text-center border-top border-bottom py-4 mb-4">
					<p>
						<strong>Share with your friends:</strong>
					</p>

					<button type="button" class="btn btn-primary me-1" style="background-color: #3b5998;">
						<i class="fab fa-facebook-f"></i>
					</button>
					<button type="button" class="btn btn-primary me-1" style="background-color: #55acee;">
						<i class="fab fa-twitter"></i>
					</button>
					<button type="button" class="btn btn-primary me-1" style="background-color: #0082ca;">
						<i class="fab fa-linkedin"></i>
					</button>
					<button type="button" class="btn btn-primary me-1">
						<i class="fas fa-comments me-2"></i>Add comment
					</button>
				</section>
				<!--Section: Share buttons-->

				<!--Section: Author-->
				<section class="border-bottom mb-4 pb-4">
					<div class="row">
						<div class="col-3">
							<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(23).jpg" class="img-fluid shadow-1-strong rounded-5" alt=""/>
						</div>

						<div class="col-9">
							<p class="mb-2">
								<strong>Anna Maria Doe</strong>
							</p>
							<a href="" class="text-dark">
								<i class="fab fa-facebook-f me-1"></i>
							</a>
							<a href="" class="text-dark">
								<i class="fab fa-twitter me-1"></i>
							</a>
							<a href="" class="text-dark">
								<i class="fab fa-linkedin me-1"></i>
							</a>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
																																																																																																																										                  inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
																																																																																																																										                  Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
							</p>
						</div>
					</div>
				</section>
				<!--Section: Author-->

				<!--Section: Comments-->
				<section class="border-bottom mb-3">
					<p class="text-center">
						<strong>Comments: 3</strong>
					</p>

					<!-- Comment -->
					<div class="row mb-4">
						<div class="col-2">
							<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(24).jpg" class="img-fluid shadow-1-strong rounded-5" alt=""/>
						</div>

						<div class="col-10">
							<p class="mb-2">
								<strong>Marta Dolores</strong>
							</p>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
																																																																																																																										                  inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
																																																																																																																										                  Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
							</p>
						</div>
					</div>

					<!-- Comment -->
					<div class="row mb-4">
						<div class="col-2">
							<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(25).jpg" class="img-fluid shadow-1-strong rounded-5" alt=""/>
						</div>

						<div class="col-10">
							<p class="mb-2">
								<strong>Valeria Groove</strong>
							</p>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
																																																																																																																										                  inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
																																																																																																																										                  Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
							</p>
						</div>
					</div>

					<!-- Comment -->
					<div class="row mb-4">
						<div class="col-2">
							<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(26).jpg" class="img-fluid shadow-1-strong rounded-5" alt=""/>
						</div>

						<div class="col-10">
							<p class="mb-2">
								<strong>Antonia Velez</strong>
							</p>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
																																																																																																																										                  inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
																																																																																																																										                  Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
							</p>
						</div>
					</div>
				</section>
				<!--Section: Comments-->

				<!--Section: Reply-->
				<section>
					<p class="text-center">
						<strong>Leave a reply</strong>
					</p>

					<form>
						<!-- Name input -->
						<div class="form-outline mb-4">
							<input type="text" id="form4Example1" class="form-control"/>
							<label class="form-label" for="form4Example1">Name</label>
						</div>

						<!-- Email input -->
						<div class="form-outline mb-4">
							<input type="email" id="form4Example2" class="form-control"/>
							<label class="form-label" for="form4Example2">Email address</label>
						</div>

						<!-- Message input -->
						<div class="form-outline mb-4">
							<textarea class="form-control" id="form4Example3" rows="4"></textarea>
							<label class="form-label" for="form4Example3">Text</label>
						</div>

						<!-- Checkbox -->
						<div class="form-check d-flex justify-content-center mb-4">
							<input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked/>
							<label class="form-check-label" for="form4Example4">
								Send me a copy of this comment
							</label>
						</div>

						<!-- Submit button -->
						<button type="submit" class="btn btn-primary btn-block mb-4">
							Publish
						</button>
					</form>
				</section>
				<!--Section: Reply-->
			</div>
			<!--Grid column-->

			<!--Grid column-->
			<div
				class="col-md-4 mb-4">
				<!--Section: Sidebar-->
				<section
					class="sticky-top" style="top: 80px;">
					<!--Section: Ad-->
					<section class="text-center border-bottom pb-4 mb-4">
						<div class="bg-image hover-overlay ripple mb-4">
							<img src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/content/en/_mdb5/standard/about/assets/mdb5-about.webp" class="img-fluid"/>
							<a href="https://mdbootstrap.com/docs/standard/" target="_blank">
								<div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
							</a>
						</div>
						<h5>Material Design for Bootstrap 5</h5>

						<p>
							500+ components, free templates, 1-min installation, extensive tutorial, huge
																																																																																																											                community. MIT license - free for personal & commercial use
						</p>
						<a role="button" class="btn btn-primary" href="https://mdbootstrap.com/docs/standard/" target="_blank">Download for free<i class="fas fa-download ms-2"></i>
						</a>
					</section>
					<!--Section: Ad-->

					<!--Section: Video-->
					<section class="text-center">
						<h5 class="mb-4">Learn the newest Bootstrap 5</h5>

						<div class="embed-responsive embed-responsive-16by9 shadow-4-strong">
							<iframe class="embed-responsive-item rounded-5" src="https://www.youtube.com/embed/c9B4TPnak1A" allowfullscreen></iframe>
						</div>
					</section>
					<!--Section: Video-->
				</section>
				<!--Section: Sidebar-->
			</div>
			<!--Grid column-->
		</div>
		<!--Grid row-->
	</div>
</main>
<!--Main layout-->

<section class="go_up">
	<div class="position-relative">
		<a href="#" class=" btn btn-primary position-absolute bottom-0 end-0 me-5 mb-5">Go Up ⇧</a>
	</div>
</section>
{{ include("pays/show-ajax.html.twig") }}{% endblock %}
