{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<main>
		<section class="header_pays" style="margin-right: 250px">
			<div class="card mb-3 bg-transparent text-center mx-auto" style="max-width: 70rem;">
				<img src="{{ asset("images/" ~ pay.paysage ) }}" alt="{{ pay.nom }}">
			</div>
			<div class="card mx-auto bg-transparent mb-5 pb-5 pt-3" style="max-width: 70rem;">
				<div class="row g-0">
					<div class="col-md-6 mx-auto mt-5" style="max-width: 9rem;">
						<img src="{{ asset("images/" ~ pay.drapeau ) }}" class="img-fluid rounded-start" alt="{{ pay.nom }}">
					</div>
					<div class="col-md-6 mt-4">
						<div class="card-body bg-transparent">
							<h1 class="card-title fw-bolder fst-italic mb-3 text-center">{{ pay.nom }}</h1>
							<li class="list-group-item">
								<strong class="pays-infos">Nombre de population :</strong>
								{{ pay.population }}
								Millions d'habitants</li>
							<li class="list-group-item">
								<strong class="pays-infos">Superficie du pays :</strong>
								{{ pay.superficie }}
								Km²
							</li>
							<li class="list-group-item">
								<strong class="pays-infos">Langues :</strong>
								{{ pay.langues }}
							</li>
						</div>
					</div>
					<p class="lh-base text-center mt-5">{{ pay.description }}</p>
				</div>
			</div>
		</section>

		<section class="partie_cards" style="margin-right: 250px">
			<div class="container py-4">
				<div class="card-deck" style="position: relative">
					<div class="flex-row">
						<div class="d-flex justify-content-evenly row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-5 g-3">
							{% for hobby in pay.hobbies %}
								{% if hobby.categorie.categorie != "home" %}
									<div class="card h-60 shadow-sm text-dark bg-light mb-3 rgb" data-tilt data-tilt-scale="0.9">
										<img class="image" src="{{ asset("images/" ~ hobby.photo) }}" alt="{{ hobby.loisir }}">
										<div class="card-body">
											<h5 class="card-title text-center fs-2 mb-3">
												{{ hobby.categorie }}
											</h5>
											<p class="card-text text-center">
												{{ hobby.categorie.description|u.truncate(100) | raw }}
											</p>
											<div class="lien text-center mt-5 mb-3">
												<a href="{{ path('app_categorie_infos', {'pays': pay.id, 'id': hobby.categorie.id}) }}" class="btn btn-warning fs-5 text-secondary">See more ⇨</a>
											</div>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="text_coms" style="margin-right: 250px">
			<img class=" arabesque_haut" src=" {{ asset(image_path ~ 'arabesque.png' )}} " alt=" ">
			<h1 class="title_com text-center text-uppercase">
				If you're fancy it, you can leave your message here
			</h1>
			<img class="arabesque" src="{{ asset(image_path ~ 'arabesque.png' )}}" alt="">
		</section>

		<section class"partie_coms" style="margin-right: 250px">
			<div class="container my-5 mb-5">
				<div class="row d-flex justify-content-center">
					<div class="col-md-12 col-lg-10 col-xl-8">
						<div class="card border-warning border border-5">
							<div class="card-body-1 ms-4 mt-2">
								<h5 class="fw-bold display-6 text-warning text-center mt-3 mb-1">{{ pay.nom }}
								</h5>
								{% if app.user %}
									<div class="d-flex flex-start align-items-center">
										<img class="rounded-circle shadow-1-strong me-3 mb-4" src="{{ asset(image_path ~ app.user.avatar)}}" alt="avatar" width="80" height="80"/>
										<div>
											<h6 class="fw-bold text-primary mb-1">{{ app.user.username }}</h6>
											<p class="text-muted small mb-3">
												Shared publicly - Dec 2022
											</p>
										</div>
									</div>
								{% else %}
									<div class="d-flex justify-content-start">
										<img class="rounded-circle shadow-1-strong me-3 mb-3" src="{{ asset(image_path ~ 'avartarN.jpeg' )}}" alt="avatar" width="80" height="80"/>

										<p class="fw-bold text-italic text-primary mt-4" style="margin-bottom: 14px;">
											Username
										</p>
									</div>
								{% endif %}
								<form "form" id="form-{{pay.id}}">
									{{ form_start(formCommentaire) }}
									<div class="card-footer-fond py-2 border-0 ms-3 me-3" style="background-color: #f8f9fa; color:#000">
										<div class="d-flex flex-start w-100">
											<div class="form-outline w-100">
												{{ form_widget(formCommentaire) }}
											</div>
										</div>
										{% if app.user %}
											<div class="float-end mt-4 pt-1 mb-4">
												<button class="btn btn-primary btn-sm">{{ button_label|default('Post Comment') }}</button>
												<button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
											</div>
										{% else %}
											<p class="alert alert-warning text-center">
												Connectez-vous et laissez votre commentaire
											</p>
											<div class="float-end mt-4 pt-1 mb-4">
												<a href="{{ path('app_login') }}" class="btn btn-primary btn-sm">Se connecter
												</a>
											</div>
										{% endif %}
									</div>
									{{ form_end(formCommentaire) }}
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="container" style="margin-right: 250px">
			<div class="row justify-items-center">
				<div class="col-md-12">
					<section class="mb-3">
						<div class="row mb-4">
							<div class="row">
								<div class="mb-3">
									<p class="text-center my-5">
										<strong class="text-center me-5">
											Nombre total de commentaire(s) :
											{{ pay.commentaires | length }}</strong>
									</p>
									<div class="card bg-transparent text-light d-none" id="card-comment">
										<div class="d-flex">
											{% if app.user %}
												<div class="user d-flex flex-row align-items-center"><img src="{{ asset(image_path ~ app.user.avatar)}}" width="60" height="60" class="user-img rounded-circle ms-2 mr-2 mt-3 mb-3">
													<div class="d-flex justify-content-end fw-bold text-primary  mb-1 ms-3">{{ app.user.username }}
													</div>
													<small class="ms-4">
														Shared publicly -
														{{ "now"|date("m/d/Y H:i:s") }}</small>
												</div>
											{% endif %}
										</div>

										<p class="font-weight-bold text-light ms-4 me-4" id="comment"></p>

										<div class="d-flex justify-content-start mt-5 mb-5">
											<div class="small d-flex ms-5 me-3">
												<button type="button" class="btn btn-outline-light bg-dark me-3 ">Reply</button>

												<form method="post" action="/pays/5" onsubmit="return confirm('Are you sure you want to delete this item?');">
													<input type="hidden" name="_token" value="767bce6.xl36c99CGNnkjrJf2ON1LXSQNz4UTOQt8nid_QHTFUA.sQ-yFJcPaem09MQAh9QESRbhXQogIZNOhUjrj2DmQSu_OrMVm3pukJTq3Q">
													<button class="btn btn-outline-light bg-dark">Delete</button>
												</form>

											</div>
											<a href="javascrip:void(0)" class="d-flex align-items-center me-3">
												<i class=" far  fa-thumbs-up me-2 text-primary"></i>
												<p class="mb-0 text-light">Like</p>
											</a>
											<a href="javascrip:void(0)" class="d-flex align-items-center">
												<i class=" far  fa-thumbs-down me-2 text-primary"></i>
												<p class="mb-0 text-light">Dislike</p>
											</a>
										</div>
									</div>
									{% for leCommentaire in pay.commentaires  |sort((a, b) => a.id <=> b.id)|reverse %}

										<div class="card bg-transparent text-light">
											<div class="d-flex">
												<div class="user d-flex flex-row align-items-center"><img src="{{ asset(image_path ~ leCommentaire.user.avatar)}}" width="60" height="60" class="user-img rounded-circle ms-2 mr-2 mt-3 mb-3">
													<div class="d-flex justify-content-end fw-bold text-primary  mb-1 ms-3">{{ leCommentaire.user.username }}
													</div>
													<small class="ms-4">
														commentaire posté le
														{{ leCommentaire.createdAt| date("m/d/Y g:i:s")  }}</small>
												</div>
											</div>
											<p class="font-weight-bold text-light ms-4 me-4">{{ leCommentaire.message }}
											</p>
											<div class="d-flex justify-content-start mt-5 mb-5 relative">
												<div class="small d-flex ms-5 me-3">
													<button type="button" class="btn btn-outline-light bg-dark me-3 ">Reply</button>
													{% if app.user == leCommentaire.user %}
														<form method="post" action="{{ path('app_commentaire_delete', {'id': leCommentaire.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
															<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ leCommentaire.id) }}">
															<button class="btn btn-outline-light bg-dark">Delete</button>
														</form>
													{% endif %}
												</div>
												{# <a href="{{ path('app_commentaire_like', {'id': leCommentaire.id}) }}" method="post" class="d-flex align-items-center me-3 js-like ">

													<i class="js-likes-icon fas fa-solid bi bi-hand-thumbs-up me-2 text-primary" {% if app.user and leCommentaire.isLikedByUser(app.user) %}></i>
												{% else %}
													<i class=" js-likes-icon far fa-solid fa-thumbs-up me-2 text-primary"></i>
												{% endif %}
												<span class="js-likes mb-0 text-light me-2">(
													{{ leCommentaire.likes | length }}
													)</span>
												<span class="js-label mb-0 text-light">Like</span>
											</a>
											<a href="javascrip:void(0)" class="d-flex align-items-center">
												<i class="fas-solid fa-thumbs-down me-2 text-primary"></i>
												<p class="mb-0 text-light">Dislike</p>
											</a> #}
											<a href="{{ path('app_commentaire_like', { 'id' : leCommentaire.id })}}" class="d-flex align-items-center ms-5 mb-3 js-like">
												<p class="mb-0">
													<i class="js-likes-icon {% if app.user and leCommentaire.isLikedByUser(app.user) %} fa-solid {% else %} far {% endif %} fa-thumbs-up me-2"></i>
													<span class="js-likes">
														({{ leCommentaire.likes| length }})
													</span>
													Like
												</p>
											</a>
											{# <a href="{{ path('app_commentaire_disLike', { 'id' : leCommentaire.id })}}" class="d-flex align-items-center ms-5 mb-3 js-disLike">
																																													<p class="mb-0">
																																														<i class="js-disLikes-icon {% if app.user and leCommentaire.isDisLikeByUser(app.user) %} fa-solid {% else %} far {% endif %} fa-thumbs-down me-2"></i>
																																														<span class="js-disLikes">
																																															{{ leCommentaire.likes| length }}
																																														</span>
																																														Dislike
																																													</p>
																																												</a> #}
										</div>
									</div>
								{% else %}
									<p>no records found</p>
								{% endfor %}
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<section class="go_up">
		<div class="position-relative">
			<a href="#" class=" btn btn-primary position-absolute bottom-0 end-0 me-5 mb-5">Go Up ⇧</a>
		</div>
	</section>
</main>
{{ include("pays/show-ajax.html.twig") }}{% endblock %}
