{% extends 'base.html.twig' %}

{% block title %}Pays{% endblock %}

{% block body %}
    <h1>Pays</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pay.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ pay.nom }}</td>
            </tr>
            <tr>
                <th>Drapeau</th>
                <td>{{ pay.drapeau }}</td>
            </tr>
            <tr>
                <th>Population</th>
                <td>{{ pay.population }}</td>
            </tr>
            <tr>
                <th>Paysage</th>
                <td>{{ pay.paysage }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ pay.description }}</td>
            </tr>
            <tr>
                <th>Superficie</th>
                <td>{{ pay.superficie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_pays_index') }}">back to list</a>

    <a href="{{ path('app_pays_edit', {'id': pay.id}) }}">edit</a>

    {{ include('pays/_delete_form.html.twig') }}
{% endblock %}
