{% extends 'base.html.twig' %}

{% block title %}Pays{% endblock %}

{% block body %}
    <h1>Pays</h1>


        <div class="card mb-3 bg-transparent text-center mx-auto" style="max-width: 60rem;">
  <img src="../images/gallery/kyoto.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h1 class="card-title">Japon</h1>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    {# <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> #}
</div>
</div>
<div class="card bg-transparent mx-auto" style="width: 60rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Identifiant : {{ pay.id }}</li>
    <li class="list-group-item">Nom du pays : {{ pay.nom }}</li>
    <li class="list-group-item">Drapeau : {{ pay.drapeau }}</li>
    <li class="list-group-item">Nombre de population : {{ pay.population }}</li>
    <li class="list-group-item">{{ pay.paysage }}</li>
    <li class="list-group-item">{{ pay.description }}</li>
    <li class="list-group-item">Superficie du pays : {{ pay.superficie }}</li>

  </ul>
</div>


    {# <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pay.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ pay.nom }}</td>
            </tr>
            <tr>
                <th>Drapeau</th>
                <td>{{ pay.drapeau }}</td>
            </tr>
            <tr>
                <th>Population</th>
                <td>{{ pay.population }}</td>
            </tr>
            <tr>
                <th>Paysage</th>
                <td>{{ pay.paysage }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ pay.description }}</td>
            </tr>
            <tr>
                <th>Superficie</th>
                <td>{{ pay.superficie }}</td>
            </tr>
        </tbody>
    </table> #}

    <a href="{{ path('app_pays_index') }}">back to list</a>

    <a href="{{ path('app_pays_edit', {'id': pay.id}) }}">edit</a>
    <a href="#" class="btn btn-primary">Go Up</a>

    {{ include('pays/_delete_form.html.twig') }}
{% endblock %}

