{% extends 'base.html.twig' %}

{% block title %}Photos{% endblock %}

{% block body %}
    <h1>Photos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ photo.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ photo.intitule }}</td>
            </tr>
            <tr>
                <th>Chemin</th>
                <td>{{ photo.chemin }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ photo.position }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_photos_index') }}">back to list</a>

    <a href="{{ path('app_photos_edit', {'id': photo.id}) }}">edit</a>

    {{ include('photos/_delete_form.html.twig') }}
{% endblock %}
