{% extends 'users.html.twig' %}

{% block title %}
	Modification du profil de
	{{app.user.prenom}}
	{{app.user.nom}}
{% endblock %}

{% block body %}
	<div class="grix container">
		<div class="grix xs4">
			<div class="col-xs4">
				<h3>Modification du profil de
					{{app.user.prenom}}
					{{app.user.nom}}
				</h3>
				{{ form(form) }}
				</div>
			</div>
		</div>

	{% endblock %}
