{% extends 'users.html.twig' %}

{% block title %}Profil de
	{{app.user.prenom}}
	{{app.user.nom}}
{% endblock %}

{% block body %}
	<div class="grix container">
		<div class="col-xs4">
			<div class="grix xs4">
				{% for message in app.flashes('message') %}
					<div class="p-3 my-2 rounded-1 green light-4 text-center text-dark-4 bd-solid bd-green bd-dark-1 bd-1 mx-auto">
						<span class="iconify-inline" data-icon="mdi:check-bold"></span>
						{{message}}
					{% endfor %}
				</div>
				<div class="col-xs4">
					<h3>Profil de
						{{app.user.prenom}}
						{{app.user.nom}}
					</h3>
				</div>
				<div>Nom :
					{{ app.user.nom}}</div>
				<div>Prénom :
					{{ app.user.prenom}}</div>
				<div>Email :
					{{ app.user.email}}</div>
			</div>
			<div class="col-xs4 container">
				<button class="btn shadow-1 primary rounded-4">
					<a href="{{ path('users_profil_modifier') }}">
						Modifier le profil</a>
				</button>
				<button class="btn shadow-1 primary rounded-4">
					<a href="{{ path('users_password_modifier') }}">Modifier le mot de passe</a>
				</button>
			</div>

			<div class="col-xs4 container">
				<h5>Annonce(s) de
					{{app.user.prenom}}
					{{app.user.nom}}
					({{ app.user.annonces|length }})
				</h5>

				{% for annonce in app.user.annonces %}
					<div class="col-xs1">Titre :
					</div>
					<div class="col-xs3">{{annonce.title}}
					</div>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
